.progress-section {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.book {
  height: fit-content;
}

.book-cover {
  height: 336px;
  width: 227px;
}

@media screen and (max-width: 480px) {
  .book-cover {
    height: 240px;
    width: 162px;
  }
}
